&lt;section class=&quot;events highlight page&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    {{&gt; molecules-events-header-partial }}
    {{&gt; molecules-events-lede }}
    {{#events}}
    {{&gt; organisms-event-row-partial }}
    {{/events}}
    {{&gt; molecules-events-disclaimer }}
  &lt;/div&gt;
&lt;/section&gt;
