&lt;p class=&quot;sg-font-primary&quot;&gt;MuseoSans 300&lt;/p&gt;
&lt;p class=&quot;sg-font-primary sg-font-italic&quot;&gt;MuseoSans 300 Italic&lt;/p&gt;

&lt;p class=&quot;sg-font-primary sg-font-medium&quot;&gt;MuseoSans 500&lt;/p&gt;
&lt;p class=&quot;sg-font-primary sg-font-medium sg-font-italic&quot;&gt;MuseoSans 500 Italic&lt;/p&gt;

&lt;p class=&quot;sg-font-primary sg-font-bold&quot;&gt;MuseoSans 700&lt;/p&gt;
&lt;p class=&quot;sg-font-primary sg-font-bold sg-font-italic&quot;&gt;MuseoSans 700 Italic&lt;/p&gt;

&lt;p class=&quot;sg-font-secondary&quot;&gt;MuseoSlab 300&lt;/p&gt;
&lt;p class=&quot;sg-font-secondary sg-font-italic&quot;&gt;MuseoSlab 300 Italic&lt;/p&gt;

&lt;p class=&quot;sg-font-secondary sg-font-bold&quot;&gt;MuseoSlab 700&lt;/p&gt;
&lt;p class=&quot;sg-font-secondary sg-font-bold sg-font-italic&quot;&gt;MuseoSlab 700 Italic&lt;/p&gt;

&lt;p class=&quot;sg-font-alternate&quot;&gt;Tablet Gothic Condensed&lt;/p&gt;
