<div class="page">
  <p><span><i class="icon icon_calendar"></i>Calendar</span></p>
  <p><span><i class="icon icon_clock"></i>Clock</span></p>
  <p><span><i class="icon icon_location"></i>Location</span></p>
</div>
