<div class="sg-section-icons">
  <p><img src="{{ imageRoot }}/icon_workshops.png" /></p>
  <p><img src="{{ imageRoot }}/icon_toolbox.png" /></p>
  <p><img src="{{ imageRoot }}/icon_bigtent.png" /></p>
</div>
