&lt;p class=&quot;button-holder&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;button green&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p class=&quot;button-holder&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;button blue&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
&lt;p class=&quot;button-holder&quot;&gt;&lt;a href=&quot;#&quot; class=&quot;button yellow&quot;&gt;Button&lt;/a&gt;&lt;/p&gt;
