&lt;footer class=&quot;footer&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;section class=&quot;contact&quot;&gt;
      &lt;h2&gt;Contact&lt;/h2&gt;
      &lt;ul&gt;
        &lt;li class=&quot;email&quot;&gt;
          &lt;a href=&quot;#&quot;&gt;designjam@ocadu.ca&lt;/a&gt;
        &lt;/li&gt;
        &lt;li class=&quot;twitter&quot;&gt;
          &lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;@DesignJamCA&lt;/a&gt;
        &lt;/li&gt;
      &lt;/ul&gt;
    &lt;/section&gt;
    &lt;span class=&quot;sep&quot;&gt;&lt;/span&gt;
    &lt;section class=&quot;links&quot;&gt;
      &lt;div class=&quot;region region-footer-col2&quot;&gt;
        &lt;section id=&quot;block-menu-menu-footer-menu&quot; class=&quot;block block-menu  clearfix&quot;&gt;
          &lt;ul class=&quot;menu&quot;&gt;&lt;li class=&quot;first leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;DesignJam Partners&quot;&gt;Partners&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;Terms of Service&quot;&gt;Terms of Service&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;last leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;About DesignJam&quot;&gt;About DesignJam&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/section&gt;
      &lt;/div&gt;
    &lt;/section&gt;
    &lt;span class=&quot;sep&quot;&gt;&lt;/span&gt;
    &lt;section class=&quot;license&quot;&gt;
      &lt;div class=&quot;region region-footer-col3&quot;&gt;
        &lt;section id=&quot;block-block-49&quot; class=&quot;block block-block  clearfix&quot;&gt;
          &lt;p&gt;
            &lt;a href=&quot;#&quot; rel=&quot;license&quot;&gt;&lt;img alt=&quot;Creative Commons License&quot; src=&quot;https://i.creativecommons.org/l/by-nc/4.0/88x31.png&quot; style=&quot;border-width:0&quot;&gt;&lt;/a&gt;&lt;br&gt;
            Except where otherwise indicated this work is licensed under a &lt;a href=&quot;#&quot; rel=&quot;license&quot;&gt;Creative Commons Attribution-NonCommercial 4.0 International License&lt;/a&gt;.
          &lt;/p&gt;
        &lt;/section&gt;
      &lt;/div&gt;
    &lt;/section&gt;
  &lt;/div&gt;
  &lt;div class=&quot;container&quot;&gt; &lt;/div&gt;
  &lt;span class=&quot;clearfix&quot;&gt;&lt;/span&gt;
&lt;/footer&gt;
