<div class="sg-intro clearfix">
  <div class="bigtent cta-section">
    <a href="#">
      <div class="image">
        <img src="{{ imageRoot }}/icon_bigtent.png">
      </div>
      <h3>BigTent Events</h3>
    </a>
    <p>Attend our all day workshop in Toronto, March 28th. Hear from industry leaders and learn from experienced mentors.</p>
  </div>
</div>
