.highlight.bigtent {
  background-image: url("../img/blue-paper.png");
  background-color: $blue-medium-1;
  color: $white;
  .button {
    background-color: $yellow-light;
    &:first-child { margin-right: $space; }
    margin-bottom: $space;
  }
  .description { margin-bottom: $space-double; }
  .links       { text-align: center; }
  @include media-medium {
    .links    { text-align: left; }
    .features { margin-top:3.3rem; }
  }
}
.bigtent-title {
  img {
    width: 3em;
    left: .5em;
    position: relative;
    display: inline-block;
  }
}
