/* The Events home page section */
.events.highlight {
  padding-bottom: $pad-double;
}
.events-title {
  img {
    height: $space-double;
    display: inline-block;
    position: relative;
    top: .2rem;
    left: .5rem;
  }
}
.events-disclaimer, .view-footer { font-size: .875rem; }
