.highlight.mailing-list {
  text-align: center;
  .headline {
    font-family: $font-secondary;
    font-weight: bold;
    color: #f8a44c;
    margin: 0;
  }
  input[type=email] {
    background-color: #ebebec;
    border: none;
    padding:8px;
    color: #b4b6b8;
    box-shadow: none;
  }
  input[type=submit] {
    background-color: #84ae3e;
    color: #fff;
    font-family: $font-secondary;
    font-weight: bold;
    border: none;
    padding: 10px 8px 6px 8px;
    position: relative;
    top:2px;
  }
}
