.site-header-wrapper {
  background: $grey-dark;
  font-weight: bold;
  overflow: hidden;
  z-index: 9999;
  a {
    color: $white;
    &:link, &:visited, &:hover, &:focus {
      color: $white;
      text-decoration: none;
    }
  }
  .logo {
    float: left;
    position: relative;
    width: 33%;
    top:5px;
    padding: $pad 0;
    @include media-small {
      width: 60%;
    }
    @include media-large {
      width: 33%;
    }
  }

  // Full-width
  @include media-min($bp-navigation) {
    height: 132px;
    overflow: visible;
  }

  // Account for Drupal admin menu
  body.logged_in .page-wrapper & {
    position: fixed;
    width:100%;
    top:64px;
  }
}
