.grid {
  // Prevent grid containers from collapsing
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}
// For a grid with padding out the outside
.grid-pad {
  padding: $grid-gutter 0 $grid-gutter $grid-gutter;
  > [class*='col-']:last-of-type {
    padding-right: $grid-gutter;
  }
}

@include media-medium {
  [class*='col-'] {
    float: left;
    padding-right: $grid-gutter;
    .grid &:last-of-type { padding-right: 0; }
  }
  .col-1   { width: 100.0%; }
  .col-3-4 { width: 75.00%; }
  .col-2-3 { width: 66.66%; }
  .col-1-2 { width: 50.00%; }
  .col-1-3 { width: 33.00%; }
  .col-1-4 { width: 24.00%; }
  .col-1-8 { width: 12.50%; }
  .col-1-12 { width: 8.33%; }
}
