<a href="#">
  <div class="traffic-jam">
    <div class="traffic-jam-inner">
      <h3>
        <svg viewBox="0 0 100 15">
          <text y="15" x="50%">“TrafficJam”</text>
        </svg>
      </h3>
      <p>
        <svg viewBox="0 0 100 32" >
          <text>
            <tspan x="50%" dy="1.2em">Saturday March 28</tspan>
            <tspan x="50%" dy="1.2em">MaRS Discovery District</tspan>
          </text>
        </svg>
      </p>
    </div>
  </div>
</a>
