&lt;header&gt;
  &lt;ul class=&quot;sg primary-nav&quot; id=&quot;primary-nav&quot; aria-expanded=&quot;false&quot; style=&quot;max-height: 0px;&quot;&gt;&lt;li class=&quot;first leaf&quot;&gt;&lt;a href=&quot;/about&quot; title=&quot;About, Contact and FAQ&quot;&gt;About&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;BigTent Events&quot;&gt;BigTents&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;Workshops&quot;&gt;Workshops&lt;/a&gt;&lt;/li&gt;
    &lt;li class=&quot;last leaf&quot;&gt;&lt;a href=&quot;#&quot; title=&quot;Coming soon&quot;&gt;Toolbox&lt;/a&gt;&lt;/li&gt;
  &lt;/ul&gt;
&lt;/header&gt;
