<section class="hero">
  <div class="container">
    <p>Creative business &amp; design skills for cultural entrepreneurs &amp; young startups</p>
    <div class="logos">
      <a href="#" class="slab">
        <img src="{{ imageRoot }}/logo-slab.png" class="img-responsive">
      </a>
      <a href="#" class="ocadu">
        <img src="{{ imageRoot }}/logo-ocadu.png" class="img-responsive">
      </a>
    </div>
  </div>
</section>
