<section class="intro highlight">
  <div class="container">
    <div class="description clearfix">
      <img src="{{ imageRoot }}/photo-2.jpg" alt="Photo" class="photo">
      <h2>What is DesignJam?</h2>
      <p>DesignJam services and tools are co-creative, design-fueled &amp; human-centred. We bring practical, hands-on learning experiences to help you create a business, or make business more creative.</p>
    </div>

    <div class="call-to-action clearfix">
      <div class="bigtent cta-section">
        <a href="#">
          <div class="image">
            <img src="{{ imageRoot }}/icon_bigtent.png">
          </div>
          <h3>BigTent Events</h3>
        </a>
        <p>Attend our all day workshop in Toronto, March 28th. Hear from industry leaders and learn from experienced mentors.</p>
      </div>
      <div class="events cta-section">
        <a href="#">
          <div class="image">
            <img src="{{ imageRoot }}/icon_workshops.png">
          </div>
          <h3>Workshops</h3>
        </a>
        <p class="hidden-xs">We travel around Ontario too. Attend a workshop in your city.</p>
      </div>
      <div class="toolbox cta-section">
        <a href="#">
          <div class="image">
            <img src="{{ imageRoot }}/icon_toolbox.png">
          </div>
          <h3>Toolbox</h3>
        </a>
        <p>Learn on the go! Our event videos, podcasts and booklets are accessible online.</p>
      </div>
    </div>
  </div>

</section>
