<style>
.signup {
  text-align: center;
  padding: 1em;
  font-size: 2em;
  font-weight: bold;
}
.signup .input {
  border-radius: 0;
}

.signup .button {

}
</style>

<p class="signup">
  Sign up for our newsletter
  <input type="text" />
  <input type="submit" class="" />
</p>
