<section class="bigtent highlight">
  <div class="container clearfix">

    <div class="description">
      {{> molecules-big-tent-header-partial }}
      <p>
        A ‘big tent’ jamboree, this all-day free event gathers over one hundred design leaders &amp; learners, sharing ideas &amp; tools while working to understand and address a complex problem. Nicknamed "TrafficJam," our first event illuminates opportunities &amp; challenges of traffic and transit in our region. March 28, 2015 at MaRS in downtown Toronto.
      </p>
      <div class="links">
        <a href="#" class="button">Details</a>
        <a href="#" class="button">Photos</a>
      </div>
    </div>

    <div class="balloon">
      {{> molecules-big-tent-balloon }}
    </div>

  </div>
</section>
