<!-- <section class="bigtent highlight new"> -->
<section class="wireframe">
  <div class="container clearfix">

    <div class="description col-50">
      <h1>BigTent Events</h1>
      <p>
        A ‘big tent’ jamboree, this all-day free event gathers over one hundred design leaders &amp; learners, sharing ideas &amp; tools while working to understand and address a complex problem.
      </p>
    </div>


    <div class="features col-50">
      <h3>Featured</h2>
      <h1><a href="#">OpportunityJam</a></h1>
      <p>Saturday, September 19, 2015</p>
      <p>Oshawa</p>
      <a href="#" class="button">Register at Eventbrite</a>

      <br><br><br>

      <h3>Past</h2>
      <h1><a href="#">TrafficJam</a></h1>
      <p>Saturday, March 28, 2015</p>
      <p>Toronto</p>

      <br><br>
      <a href="#">See all past BigTents</a>

    </div>

  </div>
</section>
