<section class="toolbox highlight page">
  <div class="container clearfix">
    {{> molecules-toolbox-header-partial }}
    <div class="description">
      <p>DesignJam provides videos, podcasts, glossaries and other tools for design thinking. Additional resources may be accessed from <a href="#">Strategic Innovation Lab (sLab)</a>.
      </p>
      <div class="links">
        <a href="#" class="button blue">DesignJam Toolbox</a>
      </div>
    </div>
    <div class="media">
      <div class="embed-container">
         <iframe src="//player.vimeo.com/video/117632942?byline=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
       </div>
    </div>
  </div>
</section>
