<div class="page">
  <div class="event-row-meta">
    <span><i class="icon icon_calendar"></i>{{event-date}}</span>
    <span><i class="icon icon_clock"></i>{{event-time}}</span>
    <span><i class="icon icon_location"></i>{{event-location}}</span>
  </div>
</div>
