&lt;section class=&quot;bigtent highlight new&quot;&gt;
  &lt;div class=&quot;container clearfix&quot;&gt;

    &lt;div class=&quot;description&quot;&gt;
      {{&gt; molecules-big-tent-header-partial }}
      &lt;p&gt;
        A &lsquo;big tent&rsquo; jamboree, this all-day free event gathers over one hundred design leaders &amp;amp; learners, sharing ideas &amp;amp; tools while working to understand and address a complex problem.
      &lt;/p&gt;
    &lt;/div&gt;


    &lt;div class=&quot;balloon&quot;&gt;
      &lt;h1&gt;Upcoming BigTent Feature&lt;/h1&gt;
      &lt;!-- {{&gt; molecules-big-tent-balloon }} --&gt;
      &lt;h1&gt;Previous BigTent Feature&lt;/h1&gt;
      View all
    &lt;/div&gt;

  &lt;/div&gt;
&lt;/section&gt;
