&lt;img src=&quot;{{ imageRoot }}/logo-slab.jpg&quot; /&gt;
&lt;img src=&quot;{{ imageRoot }}/logo-ocadu.jpg&quot; /&gt;
&lt;img src=&quot;{{ imageRoot }}/logo-mars.jpg&quot; /&gt;
&lt;img src=&quot;{{ imageRoot }}/logo-icat.jpg&quot; /&gt;
&lt;img src=&quot;{{ imageRoot }}/logo-oce.jpg&quot; /&gt;
&lt;img src=&quot;{{ imageRoot }}/logo-one.jpg&quot; /&gt;
