<p class="button-holder"><a href="#" class="button green">Button</a></p>
<p class="button-holder"><a href="#" class="button blue">Button</a></p>
<p class="button-holder"><a href="#" class="button yellow">Button</a></p>
