// Drupal admin menu
body {
  &.toolbar-drawer.navbar-is-fixed-top { padding-top: 196px!important; }
  &.toolbar-drawer.navbar-is-fixed-top .anchor{top: -195px; }
}
body.drupal.logged_in {
  padding-top: 132px!important;
  &.toolbar-drawer { padding-top: 196px!important; }
  &.toolbar-drawer .anchor{top: -195px; }
}

// Components
.tabs.primary {
  margin:0;
  border-bottom-color: $grey-light;
  color: $black;
  a:link { color: $black !important; }
  a:visited { color: $black !important; }
  li {
    position: relative;
    top:-9px;
    &.active { top: -8px; }
  }
  a {
    color: $black;
    padding:0;
    padding:$pad-half;
    background-color: $white;
    border-color: $white;
    &.active {
      border: thin solid $grey-light;
      border-bottom: none;
      top:-8px;
    }
  }
  a:link  {
    text-decoration: none;
    color: $black;
  }
  a:hover {
    text-decoration: underline;
    background-color: $white;
    border: thin solid $grey-light;
    border-bottom: none;
  }
}

.form-submit {
  @extend .button;
  @extend .blue;
  border-radius: 0;
  border: none;
  font-family: $font-primary;
  font-size: 1rem;
}

// Override system theme
.page-wrapper {
  .item-list ul li {
    margin: 0;
  }
}
