&lt;div class=&quot;sg-section-icons&quot;&gt;
  &lt;p&gt;&lt;img src=&quot;{{ imageRoot }}/icon_workshops.png&quot; /&gt;&lt;/p&gt;
  &lt;p&gt;&lt;img src=&quot;{{ imageRoot }}/icon_toolbox.png&quot; /&gt;&lt;/p&gt;
  &lt;p&gt;&lt;img src=&quot;{{ imageRoot }}/icon_bigtent.png&quot; /&gt;&lt;/p&gt;
&lt;/div&gt;
