.button {
  display: inline-block;
  padding: $pad $pad-and-half;
  border: 0;
  font-size: 1rem;
  font-weight: bold;
  color: $white;
  -webkit-box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
     -moz-box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 3px 4px 0px 0px rgba(0, 0, 0, 0.25);

  &.green  { background-color: $green-light;   }
  &.blue   { background-color: $blue-medium-1; }
  &.yellow { background-color: $yellow-light;  }
}
@mixin button { @extend .button; }
