/* Single event listing */
.event-card {
  position: relative;
  margin: $space 0;
  padding: $pad;
  border-bottom: 4px solid $green-dark;
  color: $grey-light;
  background-color: $white;
  font-size: 1rem;
  p { font-size: 1rem; }
  a:link    { color: $grey-light;}
  a:visited { color: $grey-light;}
  @include media-small {
    .event-card-description { display: none; }
  }
  @include media-medium {
    .event-card-meta { margin-bottom: $space; }
    .event-card-description {
      width: 66%;
      float:left;
    }
  }
}
.event-card-title {
  margin-bottom: $pad-half;
  font-family: $font-primary;
  font-size: 1.5rem;
  a { }
  a:link    { color: $grey-light !important; text-decoration: none;}
  a:visited { color: $grey-light !important; text-decoration: none;}
}
.event-card-meta {
  font-family: $font-alternate;
  font-size: 1.25em;
  span {
    margin-right: 0.5em;
    display: inline-block;
    .icon { margin-right: $space-half; }
    @include media-medium {
      .icon { margin-right: .1em; }
    }
  }
}
.event-card-description {
  font-weight: 500;
}
.event-card-register {
  @extend .align-center;
  margin-top: $space;
  @include media-medium {
    margin-top: 0;
    width: 33%;
    float: right;
    padding:0;
    position: absolute;
    bottom: 3em;;
    right:1em;
  }
  a:link, a:visited { color: $white !important; }

}
