<nav id="nav" class="nav">
	<ul class="nav-list">
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">DesignJam Toronto</a></li>
		<li><a href="{{ url }}">Workshops</a></li>
		<li><a href="{{ url }}">Toolbox</a></li>
	</ul>
</nav><!--end .nav-->
