// Listing and detail page
body.node-type-event, body.page-workshops {
//   .event { margin: 0; }
  .page-header-wrapper { padding-bottom: 0 }
  .event-header-wrapper {
    margin-top: $pad;
    h1 { border-bottom: none; }
  }
  .event-header { background-color:$grey-light; }
  .event-header-info { padding: $pad; }
  .event-header-image {
    background-color: #fff;
    height: 228px;
  }
  .event-card-meta { margin-bottom: $pad; }
  .event-description { margin-bottom: $pad; }
  .node-event {
    background-color: $white;
    padding: $pad;
    color:$off-black;
    a:link { color: $off-black; }
    a:visited { color: $off-black; }
  }
  .summary {
    color: $green-light;
    border-bottom: 2px solid $green-light;
    padding-bottom: $pad;
    margin-bottom: $pad;
  }
}

// Listing page
body.page-workshops {
  .event { margin: 0; }
  .page-header-wrapper { margin-bottom: $pad; }
}
