// Listing and detail page
body.node-type-event, body.page-workshops {
  .page-header-wrapper { padding-bottom: 0 }
  .event-header-wrapper {
    margin-top: $pad;
    h1 { border-bottom: none; }
  }
  .event-header { background-color:$grey-light; }
  .event-header-info { padding: $pad; }
  .event-header-image {
    background-color: #fff;
    height: 228px;
    padding-right: 0;
  }
  .event-card-meta { margin-bottom: $pad; }
  .event-description {
    margin-bottom: $pad;
    h2 {
      color: $yellow-dark;
      margin-top: $pad;
      margin-bottom: $pad-half;
    }
  }
  .node-event {
    background-color: $white;
    padding: $pad;
    color:$off-black;
    a:link { color: $off-black; }
    a:visited { color: $off-black; }
  }
  .page-summary {
    color: $green-light;
    border-bottom: 2px solid $green-light;
    margin-bottom: $pad-half;
    padding-bottom: $pad-half;
  }
}

// Listing page
body.page-workshops {
  .page-meta {
    background-color: inherit;
  }
  .event { margin: 0; }
}
