body.people, .taxonomy-people {
  .page-header-wrapper{
    background-color: $purple;
    color: $white;
    a, a:link {color: $white; }
  }
  .views-field-field-portrait .field-content,
  .field-name-field-portrait .field-item {
    border-radius: 50%;
  }
}

// Listing page
body.people {
  .page-header-wrapper { }
  .view-header {
    font-size: 1em;
    margin-top: $pad;
    color: $purple;
  }
  .view-content { text-align: center; }
  .views-field-field-short-description {
    font-family: $font-primary;
    font-weight: normal;
  }
}

// Detail page
.taxonomy-people {
  .page-header-wrapper{ margin-bottom: $pad; }
  .page-header { @extend .clearfix; }
  .field { }
  .field-name-field-short-description {
    font-weight: bold;
  }
  .field-name-field-portrait {
    width: 33%;
    float:right;
    margin-left: $pad-double;
    img { width: 100%; }
  }
  .node-media-item, .node-event { display: none; }
  .term-listing-heading { @extend .clearfix; }
}
