&lt;footer class=&quot;footer&quot;&gt;
  &lt;div class=&quot;contact&quot;&gt;
    &lt;ul&gt;
      &lt;li class=&quot;email&quot;&gt;&lt;a href=&quot;#&quot;&gt;designjam@ocadu.ca&lt;/a&gt;&lt;/li&gt;
      &lt;li class=&quot;twitter&quot;&gt;&lt;a href=&quot;#&quot; target=&quot;_blank&quot;&gt;@DesignJamCA&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
&lt;/footer&gt;
