<header>
  <ul class="sg primary-nav" id="primary-nav" aria-expanded="false" style="max-height: 0px;"><li class="first leaf"><a href="/about" title="About, Contact and FAQ">About</a></li>
    <li class="leaf"><a href="#" title="BigTent Events">BigTents</a></li>
    <li class="leaf"><a href="#" title="Workshops">Workshops</a></li>
    <li class="last leaf"><a href="#" title="Coming soon">Toolbox</a></li>
  </ul>
</header>
