<footer class="footer">
  <section class="links">
    <ul class="menu"><li class="first leaf"><a href="#" title="DesignJam Partners">Partners</a></li>
    <li class="leaf"><a href="#" title="Terms of Service">Terms of Service</a></li>
    <li class="last leaf"><a href="#" title="About DesignJam">About DesignJam</a></li>
    </ul>
  </section>
</footer>
