<ul class="sg-colors">
  <li>
    <span class="sg-swatch white"></span>
    <span class="sg-label">$white</span>
  </li>
  <li>
    <span class="sg-swatch off-white"></span>
    <span class="sg-label">$off-white</span>
  </li>
  <li>
    <span class="sg-swatch grey-light"></span>
    <span class="sg-label">$grey-light</span>
  </li>
  <li>
    <span class="sg-swatch off-black"></span>
    <span class="sg-label">$off-black</span>
  </li>
  <li>
    <span class="sg-swatch grey-dark"></span>
    <span class="sg-label">$grey-dark</span>
  </li>
  <li>
    <span class="sg-swatch black"></span>
    <span class="sg-label">$black</span>
  </li>
  <li>
    <span class="sg-swatch yellow-light"></span>
    <span class="sg-label">$yellow-light</span>
  </li>
  <li>
    <span class="sg-swatch yellow-dark"></span>
    <span class="sg-label">$yellow-dark</span>
  </li>
  <li>
    <span class="sg-swatch orange"></span>
    <span class="sg-label">$orange</span>
  </li>
  <li>
    <span class="sg-swatch green-light"></span>
    <span class="sg-label">$green-light</span>
  </li>
  <li>
    <span class="sg-swatch green-dark"></span>
    <span class="sg-label">$green-dark</span>
  </li>
  <li>
    <span class="sg-swatch blue-light"></span>
    <span class="sg-label">$blue-light</span>
  </li>
  <li>
    <span class="sg-swatch blue-medium-2"></span>
    <span class="sg-label">$blue-medium-2</span>
  </li>
  <li>
    <span class="sg-swatch blue-medium-1"></span>
    <span class="sg-label">$blue-medium-1</span>
  </li>
  <li>
    <span class="sg-swatch blue-dark"></span>
    <span class="sg-label">$blue-dark</span>
  </li>
  <li>
    <span class="sg-swatch brown"></span>
    <span class="sg-label">$brown</span>
  </li>
</ul>
