<p class="sg-font-primary">MuseoSans 300</p>
<p class="sg-font-primary sg-font-italic">MuseoSans 300 Italic</p>

<p class="sg-font-primary sg-font-medium">MuseoSans 500</p>
<p class="sg-font-primary sg-font-medium sg-font-italic">MuseoSans 500 Italic</p>

<p class="sg-font-primary sg-font-bold">MuseoSans 700</p>
<p class="sg-font-primary sg-font-bold sg-font-italic">MuseoSans 700 Italic</p>

<p class="sg-font-secondary">MuseoSlab 300</p>
<p class="sg-font-secondary sg-font-italic">MuseoSlab 300 Italic</p>

<p class="sg-font-secondary sg-font-bold">MuseoSlab 700</p>
<p class="sg-font-secondary sg-font-bold sg-font-italic">MuseoSlab 700 Italic</p>

<p class="sg-font-alternate">Tablet Gothic Condensed</p>
