<header role="banner">
  <div class="container">
    <nav>
      <div class="logo">
        {{>atoms-logo}}

      </div>
      <button id="nav-toggle" type="button" aria-controls="primary-nav">
        MENU
      </button>
      <ul class="primary-nav" id="primary-nav">
        <li><a href="#">About</a></li>
        <li><a href="#">BigTents</a></li>
        <li><a href="#">Workshops</a></li>
        <li><a href="#">Toolbox</a></li>
      </ul>
    </nav>
  </div>
</header>
