<footer class="footer">
  <div class="container">
    <section class="contact">
      <h2>Contact</h2>
      <ul>
        <li class="email">
          <a href="#">designjam@ocadu.ca</a>
        </li>
        <li class="twitter">
          <a href="#" target="_blank">@DesignJamCA</a>
        </li>
      </ul>
    </section>
    <span class="sep"></span>
    <section class="links">
      <div class="region region-footer-col2">
        <section id="block-menu-menu-footer-menu" class="block block-menu  clearfix">
          <ul class="menu"><li class="first leaf"><a href="#" title="DesignJam Partners">Partners</a></li>
            <li class="leaf"><a href="#" title="Terms of Service">Terms of Service</a></li>
            <li class="last leaf"><a href="#" title="About DesignJam">About DesignJam</a></li>
          </ul>
        </section>
      </div>
    </section>
    <span class="sep"></span>
    <section class="license">
      <div class="region region-footer-col3">
        <section id="block-block-49" class="block block-block  clearfix">
          <p>
            <a href="#" rel="license"><img alt="Creative Commons License" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" style="border-width:0"></a><br>
            Except where otherwise indicated this work is licensed under a <a href="#" rel="license">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
          </p>
        </section>
      </div>
    </section>
  </div>
  <div class="container"> </div>
  <span class="clearfix"></span>
</footer>
