<div class="sponsors">
  <div class="container">
    <div class="region region-page-bottom">
      <section id="block-block-37" class="block block-block  clearfix">
        <ul>
          <li><a href="http://slab.ocadu.ca" target="_blank"><img src="{{ imageRoot }}/logo-slab.jpg"></a></li>
          <li><a href="http://www.ocadu.ca" target="_blank"><img src="{{ imageRoot }}/logo-ocadu.jpg"></a></li>
          <li><a href="http://www.marsdd.com" target="_blank"><img src="{{ imageRoot }}/logo-mars.jpg"></a></li>
          <li><a href="http://www.ocadu.ca/research/imagination-catalyst.htm" target="_blank"><img src="{{ imageRoot }}/logo-icat.jpg"></a></li>
          <li><a href="http://www.oce-ontario.org" target="_blank"><img src="{{ imageRoot }}/logo-oce.jpg"></a></li>
          <li><a href="http://www.onebusiness.ca" target="_blank"><img src="{{ imageRoot }}/logo-one.jpg"></a></li>
        </ul>
      </section>
    </div>
  </div>
</div>
