&lt;p class=&quot;events-disclaimer&quot;&gt;Please note that you are leaving OCADU&rsquo;s website when you access Eventbrite who is a third party service provider. OCADU accepts no responsibility for external service providers. By using Eventbrite you are accepting their usage terms and conditions, confidentiality and security process and privacy policy.&lt;/p&gt;
