&lt;section class=&quot;toolbox highlight page&quot;&gt;
  &lt;div class=&quot;container clearfix&quot;&gt;
    {{&gt; molecules-toolbox-header-partial }}
    &lt;div class=&quot;description&quot;&gt;
      &lt;p&gt;DesignJam provides videos, podcasts, glossaries and other tools for design thinking. Additional resources may be accessed from &lt;a href=&quot;#&quot;&gt;Strategic Innovation Lab (sLab)&lt;/a&gt;.
      &lt;/p&gt;
      &lt;div class=&quot;links&quot;&gt;
        &lt;a href=&quot;#&quot; class=&quot;button blue&quot;&gt;DesignJam Toolbox&lt;/a&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;media&quot;&gt;
      &lt;div class=&quot;embed-container&quot;&gt;
         &lt;iframe src=&quot;//player.vimeo.com/video/117632942?byline=0&quot; frameborder=&quot;0&quot; webkitallowfullscreen=&quot;&quot; mozallowfullscreen=&quot;&quot; allowfullscreen=&quot;&quot;&gt;&lt;/iframe&gt;
       &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/section&gt;
